body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font: normal small-caps normal 16px/1.4 Courier;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0pc;
}

.headline {
  margin-bottom: 40px;
}

.inputSection {
  margin: 20px 0px 80px 0px;
  width: 300px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
margin-top: 10px;
font: normal small-caps normal 18px/1.4 Courier;
text-align: center;
}

.addoption {
  margin-top: 10px;
}

.addoption:hover {
  background-color: white;
}

.headline:hover {
  color: white;
}

button {
background-color: pink;
border-radius: 30%;
font: normal small-caps normal 16px/1.4 Courier
}

body {
    background-color: lightblue;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
  font-family: Courier
}
